<p class="debug">
  <a class="cms" href="http://picocms.org/" title="PicoCMS">PicoCMS</a> <a class="ver" href="https://github.com/picocms/Pico/releases/tag/v{{ version }}" title="v{{ version }}">v{{ version }}</a>
</p>
